<div class="margin-top margin-left margin-right margin-bottom">
    <div *ngIf="!isProfileLoadDone">
        <p-progressSpinner class="loading"></p-progressSpinner>
    </div>
    <div class="margin-top margin-bottom">
        <p-fieldset legend="Change Password" [toggleable]="true" id="passwordFieldSet">
            <section id="changepasswordsection">
                <form [formGroup]="changePasswordForm" class="form-design left-form">
                    <div class="form-group">
                        <label for="password" class="label-design">Current Password</label>
                        <input type="password" placeholder="Password" formControlName="currentpassword"
                            class="form-control textbox" />
                    </div>
                    <div *ngIf="changePasswordSubmitted && getChangePasswordFormControls.currentpassword.errors"
                        class="error-message">
                        <div *ngIf="getChangePasswordFormControls.currentpassword.errors.required">
                            Current Password is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="label-design">New Password</label>
                        <input type="password" placeholder="Password" formControlName="password"
                            class="form-control textbox" />
                    </div>
                    <div *ngIf="changePasswordSubmitted && getChangePasswordFormControls.password.errors"
                        class="error-message">
                        <div *ngIf="getChangePasswordFormControls.password.errors.required">
                            Password is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="label-design">Confirm New Password</label>
                        <input type="password" placeholder="Confirm Password" formControlName="cpassword"
                            class="form-control textbox" />
                    </div>
                    <div *ngIf="changePasswordSubmitted && getChangePasswordFormControls.cpassword.errors"
                        class="error-message">
                        <div *ngIf="getChangePasswordFormControls.cpassword.errors.required">
                            Confirm Password is required
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="button float-right" (click)="changePasswordFormSubmit()">
                            Update
                        </button>
                        <button class="button float-right" (click)="resetPasswordControls()">
                            Cancel
                        </button>
                    </div>
                </form>
            </section>
        </p-fieldset>
    </div>
</div>