<p-sidebar
  [style]="{ height: '98%', width: '50%', 'margin-left': '25%' }"
  [(visible)]="loadAddEditModal"
  position="top"
  [baseZIndex]="10000"
  [dismissible]="false"
  [closeOnEscape]="false"
  [showCloseIcon]="false"
>
  <app-customer-modal
    (emitData)="handleEmittedData($event)"
    [modalDataToPass]="modalDataToPass"
  >
  </app-customer-modal>
</p-sidebar>
<form
  [formGroup]="customerFilterForm"
  class="form-modal-design font-family width-50"
  (ngSubmit)="applyFilter(customerFilterForm.value)"
>
  <div class="form-group grid-container-spec">
    <div class="padding-1em">
      <label for="customer name" class="label-design">Customer Name</label
      ><br />
      <p-autoComplete
        formControlName="customername"
        styleClass="form-control textbox text-box-width widht-15"
        [suggestions]="customerNames"
        field="Name"
        (completeMethod)="search($event)"
        [style]="{
          width: '100%',
          'border-bottom': '2px solid deeppink',
          'border-top-style': 'none',
          'border-right-style': 'none',
          'border-left-style': 'none',
          height: '37px'
        }"
      >
      </p-autoComplete>
    </div>
    <div class="padding-1em">
      <label for="customer name" class="label-design">Customer Mobile No.</label
      ><br />
      <input
        type="text"
        formControlName="mobilenumber"
        minlength="10"
        maxlength="10"
        class="form-control textbox widht-15"
      />
    </div>
    <button
      class="button float-right cursor-pointer margin-left btn-width"
      type="submit"
    >
      Apply Filter
    </button>
    <button
      class="button float-right cursor-pointer margin-left btn-width"
      (click)="clearform()"
    >
      Clear Filter
    </button>
  </div>
</form>

<div class="width-100 padding-btn">
  <div
    class="edit-button margin-right cursor-pointer float-right"
    (click)="openDialog()"
  >
    Add Customer
  </div>
</div>
<div style="margin: 1em !important" class="shadow">
  <p-table
    [value]="gridDatas"
    dataKey="id"
    styleClass="ui-table-customers info-tbl-design p-datatable-responsive-demo"
    [rowHover]="true"
    [rows]="15"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[15, 25, 50]"
    [loading]="isLoadingDone"
    [paginator]="true"
    currentPageReportTemplate=""
    [filterDelay]="0"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="caption"> Customer Information </ng-template>
    <ng-template pTemplate="header" class="table-width">
      <tr>
        <th class="info-tbl-design" style="width: 15%">Name</th>
        <th class="info-tbl-design" style="text-align: center">Address</th>
        <th class="info-tbl-design" style="text-align: center">Mobile</th>
        <th class="info-tbl-design" style="text-align: center">GSTIN</th>
        <th class="info-tbl-design" style="text-align: center">Email</th>
        <th class="info-tbl-design" style="text-align: center">Comments</th>

        <th class="th-icon-width info-tbl-design" style="width: 5%"></th>
        <th class="th-icon-width info-tbl-design" style="width: 5%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-datas>
      <tr class="ui-selectable-row">
        <td class="info-tbl-row-design" style="width: 15%">{{ datas.Name }}</td>
        <td
          class="info-tbl-row-design"
          style="text-align: center; overflow-wrap: break-word"
        >
          {{ datas.Address }}
        </td>
        <td class="info-tbl-row-design" style="text-align: center">
          {{ datas.Mobile }}
        </td>
        <td class="info-tbl-row-design" style="text-align: center">
          {{ datas.GST }}
        </td>
        <td
          class="info-tbl-row-design"
          style="text-align: center; overflow-wrap: break-word"
        >
          {{ datas.Email }}
        </td>
        <td
          class="info-tbl-row-design"
          style="text-align: center; overflow-wrap: break-word"
        >
          {{ datas.Comments }}
        </td>

        <td class="info-tbl-row-design">
          <!-- <img src="./assets/icons/edit_black.png" class="icon-width cursor-pointer" title="Edit Record"
                        srcset="" (click)="editCustomer(data.id)" /> -->
          <i
            class="pi pi-pencil icon-width cursor-pointer"
            title="Edit Record"
            (click)="editCustomer(datas.id)"
          ></i>
        </td>
        <td class="info-tbl-row-design">
          <!-- <img src="./assets/icons/delete_black.png" class="icon-width cursor-pointer" title="Delete Record"
                        (click)="deleteCustomer(data.id, data.Name)" /> -->
          <i
            class="pi pi-trash icon-width cursor-pointer"
            title="Delete Record"
            (click)="deleteCustomer(datas.id, datas.Name)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
