<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <h2 align="center">Invoice</h2>

    <table>
        <tr>
            <table>
                <tr>
                    <td width="50%" border="1">
                        <table>
                            <tr>
                                <td height="50%">A</td>
                            </tr>
                            <tr>
                                <td>C</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td width="50%">Invoice No</td>
                                <td>Dated</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>C</td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>C</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>C</td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>C</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>C</td>
                            </tr>
                            <tr>
                                <td>Terms of delivery</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </tr>
        <tr>
            <table>
                <tr>
                    <td width="5%">H1</td>
                    <td width="60%">H2</td>
                    <td width="10%">H3</td>
                    <td width="10%">H4</td>
                    <td width="5%">H5</td>
                    <td>H6</td>
                </tr>
            </table>
        </tr>
        <tr>
            <table>
                <tr>
                    <td width="5%">A1</td>
                    <td width="60%">A2</td>
                    <td width="10%">A3</td>
                    <td width="10%">A4</td>
                    <td width="5%">A5</td>
                    <td>A6</td>
                </tr>
            </table>
        </tr>
        <tr>
            <table>
                <tr>
                    <td width="5%">B1</td>
                    <td width="60%">B2</td>
                    <td width="10%">B3</td>
                    <td width="10%">B4</td>
                    <td width="5%">B5</td>
                    <td>B6</td>
                </tr>
            </table>
        </tr>
        <tr>
            <table>
                <td width="50%" align="center">CCCCCCCCCCCCCCCCCC</td>
                <td>
                    <table>
                        <tr>
                            <td>A</td>
                        </tr>
                        <tr>
                            <td align="center">AAAAAAAAAAAAA</td>
                        </tr>
                    </table>
                </td>
            </table>
        </tr>
        <tr>
            <td>DDDDDDDDDDDDDDDD</td>
            <td>EEEEEEEEEEEEEE</td>
        </tr>
    </table>

</body>

</html>