<p-sidebar [style]="{ height: '98%', width: '95%', 'margin-left': '3%', 'overflow-y':'scroll' }" [(visible)]="loadAddEditModal" position="top"
    [baseZIndex]="10000" [dismissible]="false" [closeOnEscape]="false" [showCloseIcon]="false">
    <app-invoice-modal (emitData)="handleEmittedData($event)" [modalDataToPass]="modalDataToPass"></app-invoice-modal>
</p-sidebar>
<div class="shadow">
    <p-table [value]="gridDatas" dataKey="id"
        styleClass="ui-table-customers info-tbl-design p-datatable-responsive-demo" [rowHover]="true" [rows]="15"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[15, 25, 50]" [loading]="isLoadingDone" [paginator]="true"
        currentPageReportTemplate="" [filterDelay]="0"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
            Invoice Information
        </ng-template>
        <ng-template pTemplate="header" class="table-width">
            <tr>
                <th class="info-tbl-design" style="width:13%">Invoice ID</th>
                <th class="info-tbl-design" style="text-align: center;">Customer Name</th>
                <th class="info-tbl-design" style="text-align: center;">Vehicle Number</th>
                <th class="info-tbl-design" style="text-align: center;">Model</th>
                <th class="info-tbl-design" style="text-align: center;">Mode of Payment</th>
                <th class="info-tbl-design" style="text-align: center;">Amount</th>
                <th class="th-icon-width info-tbl-design" style="width:5%"></th>
                <th class="th-icon-width info-tbl-design" style="width:5%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr class="ui-selectable-row">
                <td class="info-tbl-row-design" style="width:13%">{{ data.InvoiceId }}</td>
                <td class="info-tbl-row-design" style="text-align: center;">{{ data.Name }}</td>
                <td class="info-tbl-row-design" style="text-align: center;">{{ data.VehicleNumber }}</td>
                <td class="info-tbl-row-design" style="text-align: center;">{{ data.model }}</td>
                <td class="info-tbl-row-design" style="text-align: center;">{{ data.mode }}</td>
                <td class="info-tbl-row-design" style="text-align: center;">{{ data.amount }}</td>
                <td class="info-tbl-row-design">
                    <img src="./assets/icons/edit_black.png" class="icon-width cursor-pointer" title="Edit Record"
                        srcset="" (click)="editInvoice(data.InvoiceId)" />
                </td>
                <td class="info-tbl-row-design">
                    <img src="./assets/icons/delete_black.png" class="icon-width cursor-pointer" title="Delete Record"
                        (click)="deleteInvoice(data.InvoiceId, data.Name)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
