<div *ngIf="isLoading">
	<p-progressSpinner class="loading"></p-progressSpinner>
</div>
<section id="customersection font-family">
    <div class="grid-bg color pad1em">{{ _title }}</div>
    <form [formGroup]="customerForm" class="form-modal-design">
        <div>
            <div class="form-group">
                <label for="username" class="label-design">Name</label>
                <input type="text" placeholder="Name" formControlName="name" class="form-control textbox"
                    maxlength="20" />
            </div>
            <div *ngIf="submitted && getCustomerFormControls.name.errors" class="error-message">
                <div *ngIf="getCustomerFormControls.name.errors.required">
                    name is required
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="label-design">Email</label><br />
                <input type="email" placeholder="Email" formControlName="email" class="form-control textbox"
                    maxlength="50" />
            </div>
            <div *ngIf="submitted && getCustomerFormControls.email.errors" class="error-message">
                <div *ngIf="getCustomerFormControls.email.errors.email">
                    Email must be in format.
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="label-design">Mobile</label>
                <input type="text" placeholder="Mobile Number" formControlName="mobile" maxlength="10" minlength="10"
                    class="form-control textbox" allowonlynumbers />
            </div>
            <div *ngIf="submitted && getCustomerFormControls.mobile.errors" class="error-message">
                <div *ngIf="getCustomerFormControls.mobile.errors.required">
                    Mobile number is required
                </div>
                <div *ngIf="getCustomerFormControls.mobile.errors">
                    Mobile number is required
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="label-design">Address</label>
                <textarea name="address" id="address" cols="5" rows="8" placeholder="Address" formControlName="address"
                    class="form-control textbox" maxlength="50"></textarea>
            </div>
            <!-- <div *ngIf="submitted && getFormControls.address.errors" class="error-message">
                <div *ngIf="getFormControls.address.errors.required">
                    address is required
                </div>
            </div> -->
            <div class="form-group">
                <label for="gst" class="label-design">GST/UIN</label>
                <input type="text" maxlength="15" placeholder="GST Number" formControlName="gst"
                    class="form-control textbox" />
            </div>
            <div class="form-group">
                <label for="comments" class="label-design">Comments</label>
                <input type="text" maxlength="50" placeholder="Your Comments" formControlName="comments"
                    class="form-control textbox" />
            </div>
            <input type="text" formControlName="id" style="display:none" />
            <div class="form-group">
                <button type="submit" *ngIf="!_isEdit" class="button float-right cursor-pointer margin-left"
                    id="btnSaveCustomer" (click)="CustomerFormSubmit()">
                    Save
                </button>
                <button *ngIf="_isEdit" class="button float-right cursor-pointer margin-left"
                    (click)="updateCustomerRecordById()">
                    Update
                </button>
                <button class="button float-right cursor-pointer" id="btnCancelProfileEdit" (click)="closeModal()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</section>