<div class="margin-top font-family">
  <div *ngIf="isloading" class="loading-div">
    <p-progressSpinner class="loading"></p-progressSpinner>
  </div>
  <form [formGroup]="reportForm" class="form-modal-design">
    <div class="form-group grid-container">
      <div class="pad1em">
        <label for="customer name" class="label-design">Customer Name</label
        ><br />
        <p-autoComplete
          formControlName="customername"
          styleClass="form-control textbox text-box-width"
          [suggestions]="customerNames"
          field="Name"
          (completeMethod)="search($event)"
          [style]="{
            width: '100%',
            'border-bottom': '2px solid deeppink',
            'border-top-style': 'none',
            'border-right-style': 'none',
            'border-left-style': 'none',
            height: '37px'
          }"
        >
        </p-autoComplete>
      </div>
      <div class="pad1em">
        <label for="from date" class="label-design">From Date</label><br />
        <!-- <input type="date" formControlName="fromdate" class="form-control textbox"> -->
        <p-calendar
          formControlName="fromdate"
          class="form-control textbox"
          dateFormat="dd/mm/yy"
          showButtonBar="true"
          [showTransitionOptions]="'0ms'"
          [hideTransitionOptions]="'0ms'"
        ></p-calendar>
      </div>
      <div class="pad1em">
        <label for="To Date" class="label-design">To Date</label><br />
        <!-- <input type="date" formControlName="todate" class="form-control textbox"> -->
        <p-calendar
          formControlName="todate"
          class="form-control textbox"
          dateFormat="dd/mm/yy"
          showButtonBar="true"
          [showTransitionOptions]="'0ms'"
          [hideTransitionOptions]="'0ms'"
        ></p-calendar>
      </div>
      <div class="pad1em">
        <label for="model" class="label-design">Model</label><br />
        <input
          type="text"
          formControlName="model"
          class="form-control textbox"
        />
      </div>
      <div class="pad1em">
        <label for="vehicle number" class="label-design">Vehicle Number</label
        ><br />
        <input
          type="text"
          formControlName="vehiclenumber"
          class="form-control textbox"
        />
      </div>
    </div>
    <div class="form-group">
      <button
        class="button float-right cursor-pointer margin-left"
        (click)="clearForm()"
      >
        Clear filter
      </button>
      <button
        class="button float-right cursor-pointer margin-left"
        (click)="exportExcel()"
      >
        Export Excel
      </button>
      <button
        class="button float-right cursor-pointer margin-left"
        (click)="applyFilter()"
      >
        Apply Filter to Grid
      </button>
      <!-- <button class="button float-right cursor-pointer" (click)="exportPDF()">
                    Export PDF
                </button> -->
    </div>
  </form>
  <app-allinvoices
    [dataForGridOnExport]="dataForGridOnExport"
  ></app-allinvoices>
  <!-- [_isTabChanged]="_isTabChanged" -->

  <table style="display: none" id="excel-table">
    <tr>
      <th>Invoice ID</th>
      <th>Name</th>
      <th>Vehicle Number</th>
      <th>Model</th>
      <th>Buyer Order Number</th>
      <th>Dated</th>
      <th>DeliveryNotes</th>
      <th>Amount</th>
      <th>Amount with Discount</th>
      <th>CGST</th>
      <th>SGST</th>
      <th>Discount</th>
      <th>Discount Option</th>
      <th>KM</th>
      <th>Mode</th>
      <th>Other Notest</th>
    </tr>
    <tr *ngFor="let sup of invoices">
      <td>{{ sup.invoiceid }}</td>
      <td>{{ sup.name }}</td>
      <td>{{ sup.VehicleNumber }}</td>
      <td>{{ sup.model }}</td>
      <td>{{ sup.BuyerOrderNumber }}</td>
      <td>{{ sup.Dated }}</td>
      <td>{{ sup.DeliveryNotes }}</td>
      <td>{{ sup.amount }}</td>
      <td>{{ sup.amountwithdiscount }}</td>
      <td>{{ sup.csgt }}</td>
      <td>{{ sup.sgst }}</td>
      <td>{{ sup.discount }}</td>
      <td>{{ sup.discount_option }}</td>
      <td>{{ sup.km }}</td>
      <td>{{ sup.mode }}</td>
      <td>{{ sup.otherNotes }}</td>
    </tr>
  </table>
</div>
