<div *ngIf="!isforgetLoadDone" class="loading-div">
  <p-progressSpinner class="loading"></p-progressSpinner>
</div>
<div class="container-fluid">
  <app-header-logo></app-header-logo> 
  <div class="login-form pad1em shadow font-family">
    <div>
      <div>Forget Password</div>
      <hr class="hr" />
    </div>
    <br />
    <div>
      <form
        [formGroup]="forgetPasswordForm"
        (ngSubmit)="forgetPasswordFormSubmit()"
        class="form-design  margin-right"
      >
        <div class="form-group">
          <label for="username" class="label-design">Email</label><br />
          <input
            type="text"
            formControlName="email"
            autocomplete="off"
            name="email"
            placeholder="Enter your username"
            class="form-control textbox"
          />
        </div>
        <div
          *ngIf="submitted && getFormControls.email.errors"
          class="error-message"
        >
          <div *ngIf="getFormControls.email.errors.required">
            Username is required
          </div>
           <div *ngIf="getFormControls.email.errors.email">
            Email must be in format.
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="button button-color-orange">Get Password</button>
        </div>
        <a routerLink="/login" class="color link">Back to Login</a>
      </form>
      <div style="margin-bottom: 1em;" >
        <hr class="hr-bottom" />
      </div>
    </div>
  </div>
</div>
