@import '../../sass/common'
@import '../../sass/table'

.explore
    margin: 1em
    font-weight: 700
    cursor: pointer

.margin-top
    margin-top: 2em

.padding1em
    padding: 1em

.padding14em
    padding: 1em 1em
    
.grid-container 
    @extend .padding14em
    display: grid
    grid-template-columns: repeat(4, minmax(0, 1fr))
    padding:0.3em
  
.p-accordion-header-link .ng-tns-c96-4
    @extend .info-tbl-design 


.width-32
    width:38%

.pad-right-05
    padding-right: 0.5em