<div *ngIf="isLoading" class="loading-div">
  <p-progressSpinner class="loading"></p-progressSpinner>
</div>
<div class="font-family" style="margin-top: 0.2em">
  <p-tabView (onChange)="handleTabChange($event)">
    <p-tabPanel header="Create Invoice" righticon="pi pi-file-o">
      <form [formGroup]="CustomerForm" class="form-modal-design">
        <div class="form-group grid-container">
          <div class="pad-right-05">
            <label for="customer name" class="label-design"
              >Customer Name</label
            >
            <span><sup class="mandatory">*</sup></span>
            <br />
            <p-autoComplete
              formControlName="customername"
              styleClass="form-control textbox text-box-width"
              [suggestions]="customerNames"
              field="Name"
              (completeMethod)="search($event)"
              [style]="{
                width: '100%',
                'border-bottom': '2px solid deeppink',
                'border-top-style': 'none',
                'border-right-style': 'none',
                'border-left-style': 'none',
                height: '37px'
              }"
            >
            </p-autoComplete>
          </div>
          <div
            *ngIf="
              invoiceFormSubmitted &&
              getCustomerFormControls.customername.errors
            "
            class="error-message shadow"
          >
            <div *ngIf="getCustomerFormControls.customername.errors.required">
              Customer is required
            </div>
          </div>

          <div class="pad-right-05">
            <label for="delivery notes" class="label-design"
              >Delivery Notes</label
            >
            <input
              type="text"
              placeholder="Delivery Notes"
              formControlName="deliverynotes"
              maxlength="50"
              class="form-control textbox text-box-width"
            />
          </div>

          <div class="pad-right-05">
            <label for="buyers order number" class="label-design"
              >Buyers Order Number</label
            >
            <input
              type="text"
              placeholder="Buyers Order Number"
              formControlName="ordernumber"
              class="form-control textbox text-box-width"
              maxlength="15"
            />
          </div>
          <div class="pad-right-05">
            <label for="vehiclenumber" class="label-design"
              >Vehicle Number</label
            >
            <span><sup class="mandatory">*</sup></span>
            <input
              type="text"
              placeholder="Vehicle Number"
              formControlName="vehiclenumber"
              maxlength="15"
              class="form-control textbox text-box-width"
            />
          </div>
        </div>

        <div class="form-group grid-container">
          <div class="pad-right-05">
            <label for="othernotes" class="label-design">Other Notes</label>
            <input
              type="text"
              placeholder="Other Notes"
              formControlName="othernotes"
              maxlength="50"
              class="form-control textbox text-box-width"
            />
          </div>
          <div class="pad-right-05">
            <label for="Template" class="label-design">Template</label>
            <input
              type="text"
              placeholder="TemplateName"
              formControlName="templatename"
              disabled
              class="form-control textbox text-box-width"
            />
          </div>
          <div class="pad-right-05">
            <label for="payment" class="label-design"
              >Mode/Terms of Payment</label
            >
            <span><sup class="mandatory">*</sup></span> <br />
            <select
              class="ddl-design"
              formControlName="mode"
              style="width: 100%"
              (change)="changePaymentMode($event)"
            >
              <option value="">Select Payment Mode</option>
              <option *ngFor="let paymode of paymentMode" [ngValue]="paymode">
                {{ paymode }}
              </option>
            </select>
          </div>
          <div class="pad-right-05">
            <label for="buyers order number" class="label-design">Dated</label>
            <br />
            <p-calendar
              formControlName="dated"
              class="form-control textbox text-box-width"
              dateFormat="dd/mm/yy"
              showButtonBar="true"
            ></p-calendar>
          </div>
        </div>

        <div class="form-group grid-container">
          <div class="pad-right-05">
            <label for="model" class="label-design">Model</label>
            <input
              type="text"
              placeholder="Model"
              formControlName="model"
              maxlength="20"
              class="form-control textbox text-box-width"
            />
          </div>
          <div class="pad-right-05">
            <label for="KM Driven" class="label-design">KM Driven</label>
            <input
              type="text"
              placeholder="KM Driven"
              formControlName="km"
              maxlength="6"
              class="form-control textbox text-box-width"
              allowonlynumbers
            />
          </div>
        </div>

        <br />
      </form>
      <form [formGroup]="productForm" class="form-modal-design float-right">
        <div class="form-group" style="padding: 0em 1em">
          <label for="description" class="label-design"
            >Description of Goods</label
          >
          <span><sup class="mandatory">*</sup></span>
          <input
            type="text"
            formControlName="description"
            id=""
            class="form-control textbox text-box-width"
            placeholder="Description of Goods"
            maxlength="150"
          />
        </div>
        <br />
        <div
          *ngIf="
            addItemFormsSubmitted && getProductFormControls.description.errors
          "
          class="error-message shadow"
        >
          <div *ngIf="getProductFormControls.description.errors.required">
            Description is required
          </div>
        </div>
        <div
          class="form-group"
          style="
            display: grid;
            padding: 0em 1em;
            grid-template-columns: auto auto auto auto;
          "
        >
          <div>
            <label for="rate" class="label-design">Rate</label>
            <span><sup class="mandatory">*</sup></span
            ><br />
            <input
              type="text"
              placeholder="Rate"
              formControlName="rate"
              maxlength="10"
              class="form-control textbox text-box-width"
              style="width: 95%"
              (change)="calculateProductPrice()"
              allowonlynumbers
            />
          </div>
          <div
            *ngIf="addItemFormsSubmitted && getProductFormControls.rate.errors"
            class="error-message shadow"
          >
            <div *ngIf="getProductFormControls.rate.errors.required">
              Rate is required
            </div>
          </div>
          <div>
            <label for="quantity" class="label-design">Quantity</label>
            <span><sup class="mandatory">*</sup></span> <br />
            <input
              type="text"
              placeholder="Quantity"
              formControlName="quantity"
              maxlength="3"
              (change)="calculateProductPrice()"
              allowonlynumbers
              class="form-control textbox text-box-width"
              style="width: 95%"
            />
          </div>
          <div
            *ngIf="
              addItemFormsSubmitted && getProductFormControls.quantity.errors
            "
            class="error-message shadow"
          >
            <div *ngIf="getProductFormControls.quantity.errors.required">
              Quantity is required
            </div>
          </div>
          <div>
            <label for="price" class="label-design">Price</label>
            <span><sup class="mandatory">*</sup></span> <br />
            <input
              type="text"
              placeholder="Price"
              formControlName="price"
              maxlength="10"
              [(ngModel)]="price"
              class="form-control textbox text-box-width"
              style="width: 95%"
              disabled
              allowonlynumbers
            />
          </div>
          <div
            *ngIf="addItemFormsSubmitted && getProductFormControls.price.errors"
            class="error-message shadow"
          >
            <div *ngIf="getProductFormControls.price.errors.required">
              Price is required
            </div>
          </div>
          <div class="form-group">
            <button
              class="button float-right cursor-pointer margin-left"
              id="btnAddITems"
              (click)="addItemBtnclick()"
            >
              Add Item
            </button>
          </div>
        </div>

        <div style="margin: 1em !important" class="shadow">
          <p-table
            [value]="gridDatas"
            dataKey="id"
            styleClass="ui-table-customers info-tbl-design p-datatable-responsive-demo"
            [rowHover]="true"
            [rows]="15"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[15, 25, 50]"
            [loading]="isLoadingDone"
            [paginator]="true"
            currentPageReportTemplate=""
            [filterDelay]="0"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          >
            <ng-template pTemplate="caption">
              Invoice Product Information
            </ng-template>
            <ng-template pTemplate="header" class="table-width">
              <tr>
                <th class="info-tbl-design">Description of Goods</th>
                <th class="info-tbl-design">Rate</th>
                <th class="info-tbl-design">Quantity</th>
                <th class="info-tbl-design">Amount</th>
                <th
                  class="th-icon-width info-tbl-design"
                  style="width: 4%"
                ></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr class="ui-selectable-row">
                <td class="info-tbl-row-design">{{ data.Description }}</td>
                <td class="info-tbl-row-design">{{ data.Rate }}</td>
                <td class="info-tbl-row-design">{{ data.Quantity }}</td>
                <td class="info-tbl-row-design">{{ data.Price }}</td>
                <td>
                  <i
                    class="pi pi-trash icon-width cursor-pointer"
                    title="Delete Record"
                    (click)="deleteInvoiceProd(data.Description)"
                  ></i>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </form>
      <form [formGroup]="gstForm" class="form-modal-design">
        <div class="margin-top">
          <div class="width-50 float-left"></div>
          <div class="width-32 float-right">
            <div class="form-group">
              <label for="state gst" class="label-design">SGST</label>
              <input
                type="text"
                placeholder="SGST"
                formControlName="sgst"
                maxlength="3"
                allowonlynumbers
                (change)="gstCalculation()"
                class="form-control textbox text-box-width"
                style="width: 95%"
              />
            </div>
            <div class="form-group">
              <label for="central gst" class="label-design">CGST</label>
              <input
                type="text"
                placeholder="CGST"
                formControlName="cgst"
                maxlength="3"
                allowonlynumbers
                (change)="gstCalculation()"
                class="form-control textbox text-box-width"
                style="width: 95%"
              />
            </div>
            <div class="form-group">
              <label for="central gst" class="label-design"
                >Amount (with GST)</label
              >
              <input
                type="text"
                placeholder="Amount (with GST)"
                formControlName="amountwithgst"
                maxlength="3"
                [(ngModel)]="amount"
                allowonlynumbers
                disabled
                class="form-control textbox text-box-width"
                style="width: 95%"
              />
            </div>
            <div class="form-group">
              <label for="discount" class="label-design">Discount</label> <br />
              <input
                type="text"
                formControlName="discount"
                maxlength="3"
                placeholder="Discount"
                allowonlynumbers
                (change)="gstCalculation()"
                class="form-control textbox text-box-width"
                style="width: 81%"
              />
              <select
                class="ddl-design"
                formControlName="discountoption"
                (change)="changeDiscount($event)"
              >
                <option *ngFor="let d of discounts" [ngValue]="d">
                  {{ d }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="amount" class="label-design"
                >Amount (with Discount)</label
              ><br />
              <input
                type="text"
                maxlength="5"
                disabled
                [(ngModel)]="amountwithdiscount"
                class="form-control textbox text-box-width"
                formControlName="amount"
                style="width: 95%"
                allowonlynumbers
              />
            </div>
            <div class="form-group">
              <button
                class="button float-right cursor-pointer margin-left"
                id="btnSaveOnlys"
                (click)="saveOnly()"
              >
                Save Only
              </button>
              <button
                class="button float-right cursor-pointer margin-left"
                id="btnPrintOnlys"
                (click)="printOnly()"
              >
                Print Only
              </button>
              <button
                class="button float-right cursor-pointer"
                id="btnSavePrints"
                (click)="saveAndPrint()"
              >
                Save & Print
              </button>
            </div>
          </div>
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Invoices">
      <app-invoice-filters [isTabChanged]="isTabChanged"></app-invoice-filters>
    </p-tabPanel>
  </p-tabView>
</div>
